# Mtoto News Childline Prediction Challenge.

## Introduction
The objective of this competition is to create a forecast model to predict the number of incoming calls that Childline Kenya will receive per hour per day.

## Library Imports

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Loading the data.
The data available is in three files;
1. train.csv - contains train data.
2. KenyaPublicHolidays2016.csv	- list of public holidays in 2016
3. WeatherNairobi2016.xls - weather details.

In [29]:
df_train = pd.read_csv('train.csv')

/home/muoki/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (12,13,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
df_train.head(2)

,calldate,cc_status,maincat,subcat1,casepriority,referal,caller_gender,caller_age,caller_county,child_age,child_gender,child_county,parent_age,parent_gender,parent_county,Abuser_Relationship,Neglector_Relationship,Perpetrator_Relationship,Physical abuser_Relationship
0,2016-01-01 07:26:47,Closed,non-interventional,Blank call,Non Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 07:32:30,Closed,non-interventional,Blank call,Non Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_train.shape

(135988, 19)

In [32]:
df_train['cdate'] = pd.to_datetime(df_train['calldate']).dt.date

combine holiday and train ds

In [33]:
df_holiday = pd.read_csv('KenyaPublicHolidays2016.csv')

In [34]:
df_holiday.head()

,Public holidays Kenya 2017,https://www.officeholidays.com/countries/kenya/2016.php,Unnamed: 2
0,NaN,NaN,NaN
1,Date,Holiday,NaN
2,17/01/01,New Years Day,NaN
3,17/04/25,Good Friday,NaN
4,17/04/28,Easter Monday,NaN

In [35]:
df_holiday.shape

(13, 3)

In [36]:
df_holiday = df_holiday.drop([0,1])
df_holiday.columns = ['cdate', 'holiday', 'bla']

df_holiday = df_holiday.drop('bla', axis=1)

In [39]:
#split the date convert it to 16 dates as 2017 data is not available
def hoconvert(hd):
    datehd = hd.split('/')
    yearhd = '16'
    monthhd = datehd[1].strip()
    dayhd = datehd[2].strip()
    dd = (dayhd,monthhd,yearhd)
    separat = '/'
    
    return pd.to_datetime(separat.join(dd))

In [40]:
df_holiday['cdate'] = df_holiday['cdate'].apply(hoconvert)

In [41]:
df_holiday['cdate'] = df_holiday['cdate'].dt.date

In [42]:
df_holiday['holiday'] = df_holiday['holiday'].notna()

In [50]:
df_holiday = df_holiday[:6]

In [56]:
df_holiday = df_holiday.sort_values(by='cdate')

TypeError: 'NoneType' object is not callable

In [131]:
df_holiday

       cdate        holiday  bholiday
2   17/01/01  New Years Day         0
3   17/04/25    Good Friday         0
4   17/04/28  Easter Monday         0
5   17/05/01     Labour Day         0
6   17/06/01   Madaraka Day         0
7   17/07/06    Eid Al Fitr         0
8   17/09/07    Idd-Ul-Adha         0
9   17/10/20   Mashujaa Day         0
10  17/12/12    Jamhuri Day         0
11  17/12/25  Christmas Day         0
12  17/12/26     Boxing Day         0

In [84]:
df_schooldates = pd.read_csv('NairobiSchoolDates2016.csv')

In [87]:
df_schooldates.head()

,Term,Opening,Closing,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,2016-01-04,2016-04-08,NaN,NaN,*year/month/day
1,2,2016-05-02,2016-08-05,NaN,NaN,https://www.standardmedia.co.ke/article/200018...
2,3,2016-09-05,2016-11-18,NaN,NaN,NaN

The first column is a date time  column we can split it into date and time separate columns.

In [90]:
df_train.cdate[5]

datetime.date(2016, 1, 1)

In [69]:
def timeconvert(now):
    tnow = now.replace(hour=(now.hour+1), minute=0, second=0)
    return tnow.strftime("%Y%m%d%H")

Focusing on the first two datasets we can combine them to form one dataframe

In [74]:
!ls

KenyaPublicHolidays2016.csv			 Sample_Submission.csv
Mtoto_News_Childline_Prediction_Challenge.ipynb  train.csv
NairobiSchoolDates2016.csv			 WeatherNairobi2016.xls
readme.md

## Visualization

## Modeling

## Results

## Conclusions