In [1]:
#helps notebooks to automatically update when you change the source code of the modeules
%load_ext autoreload
%autoreload 2

#show plots inside the notebook
%matplotlib inline

In [1]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

/home/muoki/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:

PATH = "/media/muoki/data/documents/code_training/portfolio/DataScienceProjects/fastai_Intro_ml/busara_data/"

In [5]:
!ls {PATH}

sample_submission.csv  test.csv  train.csv

In [6]:
df_raw = pd.read_csv(f'{PATH}train.csv', low_memory=False, parse_dates=["survey_date"])

In [7]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [8]:
display_all(df_raw.tail().T)

,1138,1139,1140,1141,1142
surveyid,927,1039,428,23,116
village,152,104,54,3,18
survey_date,2061-12-27 00:00:00,2061-09-13 00:00:00,2061-11-23 00:00:00,2061-10-05 00:00:00,2061-09-24 00:00:00
femaleres,1,1,1,1,1
age,36,23,28,33,39
married,0,1,1,0,1
children,4,0,5,4,0
hhsize,5,2,7,5,4
edu,9,10,10,9,12
hh_children,0,0,5,0,0
hh_totalmembers,NaN,2,7,NaN,4
cons_nondurable,0,93.0733,387.759,0,178.985
asset_livestock,0,8.26063,8.26063,0,111.518
asset_durable,0,295.484,393.177,0,469.25
asset_phone,0,40.0384,118.514,0,152.146
asset_savings,0,0,72.0692,0,32.0307
asset_land_owned_total,0,1,0,0,1.75
asset_niceroof,0,0,0,0,0
cons_allfood,0,56.9415,236.907,0,134.096
cons_ownfood,0,1.60154,4.00384,0,14.5206
cons_alcohol,0,20.9344,0,0,0
cons_tobacco,0,4.18687,0,0,0
cons_med_total,0,0,0,0,0
cons_med_children,NaN,NaN,0,NaN,NaN
cons_ed,0,0,2.92281,0,0
cons_social,0,2.52242,10.6769,0,8.74172
cons_other,0,8.48815,137.252,0,36.1467
ent_wagelabor,0,0,0,0,0
ent_ownfarm,0,1,1,0,1
ent_business,0,0,0,0,0
ent_nonagbusiness,0,0,1,0,1
ent_employees,0,0,0,0,0
ent_nonag_revenue,0,0,48.0461,0,12.8123
ent_nonag_flowcost,0,0,72.0692,0,10.41
ent_farmrevenue,0,0,4.80461,0,10.6769
ent_farmexpenses,0,0,0.867499,0,1.75724
ent_animalstockrev,0,1.735,0,0,0
ent_total_cost,0,0,72.9367,0,12.1672
fs_adskipm_often,0,3,0,0,3
fs_adwholed_often,0,3,0,0,0
fs_chskipm_often,NaN,NaN,0,NaN,NaN
fs_chwholed_often,NaN,NaN,0,NaN,NaN
fs_meat,NaN,1,4,NaN,1
fs_enoughtom,NaN,0,1,NaN,1
fs_sleephun,NaN,0,0,NaN,0
med_expenses_hh_ep,NaN,4.00384,NaN,NaN,10.2498
med_expenses_sp_ep,NaN,NaN,NaN,NaN,16.0154
med_expenses_child_ep,NaN,NaN,NaN,NaN,NaN
med_portion_sickinjured,NaN,0.5,0.285714,NaN,0.75
med_port_sick_child,NaN,NaN,0.4,NaN,NaN
med_afford_port,NaN,1,1,NaN,1
med_sickdays_hhave,NaN,3.5,0.714286,NaN,7
med_healthconsult,NaN,1,1,NaN,1
med_vacc_newborns,1,1,1,1,1
med_child_check,1,1,1,1,1
med_u5_deaths,NaN,NaN,NaN,NaN,NaN
ed_expenses,NaN,NaN,35.0737,NaN,NaN
ed_expenses_perkid,NaN,NaN,8.76842,NaN,NaN
ed_schoolattend,NaN,NaN,0.75,NaN,NaN
ed_sch_missedpc,NaN,NaN,0.5,NaN,NaN
ed_work_act_pc,NaN,NaN,0,NaN,NaN
labor_primary,0,0,0,0,0
wage_expenditures,0,0,0,0,0
durable_investment,0,367.005,490.323,0,612.8
nondurable_investment,0,0,147.929,0,44.198
given_mpesa,0,0,0,0,0
amount_given_mpesa,0,0,0,0,0
received_mpesa,0,0,0,0,0
amount_received_mpesa,0,0,0,0,0
net_mpesa,0,0,0,0,0
saved_mpesa,0,1,0,0,0
amount_saved_mpesa,0,0,0,0,0
early_survey,0,0,0,0,0
depressed,1,0,0,0,1
day_of_week,4,4,5,5,1

In [9]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
surveyid,1143,NaN,NaN,NaN,NaN,NaN,715.927,415.695,1,351.5,717,1078.5,1429
village,1143,NaN,NaN,NaN,NaN,NaN,76.4094,66.7881,1,23,57,105.5,292
survey_date,1143,180,2061-11-12 00:00:00,20,2060-04-27 00:00:00,2061-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
femaleres,1143,NaN,NaN,NaN,NaN,NaN,0.916885,0.276176,0,1,1,1,1
age,1143,NaN,NaN,NaN,NaN,NaN,34.5373,13.7421,17,24,30,41,91
married,1143,NaN,NaN,NaN,NaN,NaN,0.772528,0.419383,0,1,1,1,1
children,1143,NaN,NaN,NaN,NaN,NaN,2.86002,1.84695,0,2,3,4,10
hhsize,1143,NaN,NaN,NaN,NaN,NaN,4.86964,2.12185,1,3,5,6,12
edu,1143,NaN,NaN,NaN,NaN,NaN,8.73578,2.8672,1,8,9,10,19
hh_children,1143,NaN,NaN,NaN,NaN,NaN,2.01837,2.0167,0,0,2,3,10
hh_totalmembers,809,NaN,NaN,NaN,NaN,NaN,4.90606,2.09929,1,3,5,6,12
cons_nondurable,1143,NaN,NaN,NaN,NaN,NaN,128.408,140.16,0,0,107.389,188.532,1431.61
asset_livestock,1143,NaN,NaN,NaN,NaN,NaN,113.704,239.698,0,0,16.5213,102.575,2754.53
asset_durable,1143,NaN,NaN,NaN,NaN,NaN,148.571,198.422,0,0,121.717,221.893,3720.37
asset_phone,1143,NaN,NaN,NaN,NaN,NaN,19.6568,28.0531,0,0,0,32.0307,192.184
asset_savings,1143,NaN,NaN,NaN,NaN,NaN,10.2541,79.8085,0,0,0,0,2242.15
asset_land_owned_total,1143,NaN,NaN,NaN,NaN,NaN,0.926868,1.66377,0,0,0,1.5,27
asset_niceroof,1143,NaN,NaN,NaN,NaN,NaN,0.000874891,0.0295786,0,0,0,0,1
cons_allfood,1143,NaN,NaN,NaN,NaN,NaN,95.806,114.487,0,0,77.1083,136.841,1386.97
cons_ownfood,1143,NaN,NaN,NaN,NaN,NaN,8.32377,15.1487,0,0,3.20307,9.82276,181.574
cons_alcohol,1100,NaN,NaN,NaN,NaN,NaN,1.17772,6.74055,0,0,0,0,104.672
cons_tobacco,1123,NaN,NaN,NaN,NaN,NaN,0.634804,2.74615,0,0,0,0,41.8688
cons_med_total,1143,NaN,NaN,NaN,NaN,NaN,2.69043,12.141,0,0,0,0,206.598
cons_med_children,724,NaN,NaN,NaN,NaN,NaN,1.82965,10.9235,0,0,0,0,206.598
cons_ed,1143,NaN,NaN,NaN,NaN,NaN,2.79481,8.3318,0,0,0.467115,2.40231,133.461
cons_social,1143,NaN,NaN,NaN,NaN,NaN,3.64783,7.57492,0,0,1.28123,3.817,140.134
cons_other,1143,NaN,NaN,NaN,NaN,NaN,21.7064,28.3972,0,0,13.7732,30.9097,289.093
ent_wagelabor,1143,NaN,NaN,NaN,NaN,NaN,0.186352,0.389561,0,0,0,0,1
ent_ownfarm,1143,NaN,NaN,NaN,NaN,NaN,0.247594,0.431804,0,0,0,0,1
ent_business,1143,NaN,NaN,NaN,NaN,NaN,0.107612,0.310025,0,0,0,0,1
ent_nonagbusiness,1143,NaN,NaN,NaN,NaN,NaN,0.269466,0.443877,0,0,0,1,1
ent_employees,1143,NaN,NaN,NaN,NaN,NaN,0.032371,0.392355,0,0,0,0,11
ent_nonag_revenue,1143,NaN,NaN,NaN,NaN,NaN,34.8485,257.963,0,0,0,0,7687.38
ent_nonag_flowcost,1143,NaN,NaN,NaN,NaN,NaN,17.3212,100.532,0,0,0,0,2067.58
ent_farmrevenue,1143,NaN,NaN,NaN,NaN,NaN,4.51627,8.62698,0,0,2.13538,5.75219,161.355
ent_farmexpenses,1143,NaN,NaN,NaN,NaN,NaN,1.86673,3.50671,0,0,0.488246,2.15512,38.0587
ent_animalstockrev,1143,NaN,NaN,NaN,NaN,NaN,3.93208,12.2,0,0,0,2.73596,176.169
ent_total_cost,1143,NaN,NaN,NaN,NaN,NaN,21.4148,101.387,0,0,1.24008,10.2187,2067.58
fs_adskipm_often,1143,NaN,NaN,NaN,NaN,NaN,4.04287,6.24639,0,0,1,5.25,20
fs_adwholed_often,1143,NaN,NaN,NaN,NaN,NaN,0.910324,2.59454,0,0,0,0,20
fs_chskipm_often,727,NaN,NaN,NaN,NaN,NaN,2.89959,5.27477,0,0,0,3,20
fs_chwholed_often,727,NaN,NaN,NaN,NaN,NaN,0.440853,1.67811,0,0,0,0,20
fs_meat,809,NaN,NaN,NaN,NaN,NaN,3.07046,2.20513,0,2,3,4,22
fs_enoughtom,809,NaN,NaN,NaN,NaN,NaN,0.274413,0.446494,0,0,0,1,1
fs_sleephun,809,NaN,NaN,NaN,NaN,NaN,0.36712,0.482318,0,0,0,1,1
med_expenses_hh_ep,450,NaN,NaN,NaN,NaN,NaN,5.62604,10.9425,0,0.920884,2.6085,5.86563,124.173
med_expenses_sp_ep,265,NaN,NaN,NaN,NaN,NaN,8.05186,17.9403,0,0.720692,3.20307,8.00768,184.177
med_expenses_child_ep,543,NaN,NaN,NaN,NaN,NaN,3.72244,14.6413,0,0.539184,1.44138,4.00384,320.307
med_portion_sickinjured,809,NaN,NaN,NaN,NaN,NaN,0.519817,0.321305,0,0.25,0.5,0.75,2
med_port_sick_child,727,NaN,NaN,NaN,NaN,NaN,0.49644,0.37403,0,0.166667,0.5,1,1
med_afford_port,720,NaN,NaN,NaN,NaN,NaN,0.797353,0.330447,0,0.666667,1,1,1
med_sickdays_hhave,809,NaN,NaN,NaN,NaN,NaN,1.95572,3.35908,0,0,1,2.4,31
med_healthconsult,720,NaN,NaN,NaN,NaN,NaN,0.695412,0.375157,0,0.5,1,1,1
med_vacc_newborns,1143,NaN,NaN,NaN,NaN,NaN,1,0,1,1,1,1,1
med_child_check,1143,NaN,NaN,NaN,NaN,NaN,1,0,1,1,1,1,1
med_u5_deaths,59,NaN,NaN,NaN,NaN,NaN,0.510452,0.22238,0.2,0.333333,0.5,0.5,1
ed_expenses,680,NaN,NaN,NaN,NaN,NaN,52.9348,117.267,0,9.60922,22.4215,44.0823,1601.54
ed_expenses_perkid,680,NaN,NaN,NaN,NaN,NaN,18.6117,31.556,0,3.84369,9.04201,19.2184,186.846
ed_schoolattend,680,NaN,NaN,NaN,NaN,NaN,0.704684,0.341665,0,0.5,0.788889,1,1.5
ed_sch_missedpc,676,NaN,NaN,NaN,NaN,NaN,1.35564,2.68857,0,0,0.333333,1.6875,30
ed_work_act_pc,572,NaN,NaN,NaN,NaN,NaN,0.745047,0.837033,0,0,0.5,1,5
labor_primary,1143,NaN,NaN,NaN,NaN,NaN,0.221347,0.415336,0,0,0,0,1
wage_expenditures,1143,NaN,NaN,NaN,NaN,NaN,24.357,798.986,0,0,0,0,27000
durable_investment,1143,NaN,NaN,NaN,NaN,NaN,288.501,385.345,0,0,188.813,399.124,3782.33
nondurable_investment,1143,NaN,NaN,NaN,NaN,NaN,34.4637,134.058,0,0,4.58218,21.9171,2275.47
given_mpesa,1143,NaN,NaN,NaN,NaN,NaN,0.015748,0.124554,0,0,0,0,1
amount_given_mpesa,1143,NaN,NaN,NaN,NaN,NaN,0.553462,6.48914,0,0,0,0,160.154
received_mpesa,1143,NaN,NaN,NaN,NaN,NaN,0.0664917,0.249249,0,0,0,0,1
amount_received_mpesa,1143,NaN,NaN,NaN,NaN,NaN,3.56458,24.9509,0,0,0,0,352.338
net_mpesa,1143,NaN,NaN,NaN,NaN,NaN,3.01111,25.8406,-160.154,0,0,0,352.338
saved_mpesa,1143,NaN,NaN,NaN,NaN,NaN,0.188976,0.391661,0,0,0,0,1
amount_saved_mpesa,1143,NaN,NaN,NaN,NaN,NaN,2.2691,19.6763,0,0,0,0,488.469
early_survey,1143,NaN,NaN,NaN,NaN,NaN,0.0979878,0.297428,0,0,0,0,1
depressed,1143,NaN,NaN,NaN,NaN,NaN,0.168854,0.374787,0,0,0,0,1
day_of_week,1143,NaN,NaN,NaN,NaN,NaN,3.29571,1.68491,0,2,3,5,6

In [10]:
add_datepart(df_raw, 'survey_date')

In [11]:
df_raw.survey_Year.head()

0    2061
1    2061
2    2061
3    2061
4    2061
Name: survey_Year, dtype: int64

In [12]:
train_cats(df_raw)

In [13]:
display_all(df_raw.isnull().sum().sort_index()/len(df_raw))

age                        0.000000
amount_given_mpesa         0.000000
amount_received_mpesa      0.000000
amount_saved_mpesa         0.000000
asset_durable              0.000000
asset_land_owned_total     0.000000
asset_livestock            0.000000
asset_niceroof             0.000000
asset_phone                0.000000
asset_savings              0.000000
children                   0.000000
cons_alcohol               0.037620
cons_allfood               0.000000
cons_ed                    0.000000
cons_med_children          0.366579
cons_med_total             0.000000
cons_nondurable            0.000000
cons_other                 0.000000
cons_ownfood               0.000000
cons_social                0.000000
cons_tobacco               0.017498
day_of_week                0.000000
depressed                  0.000000
durable_investment         0.000000
early_survey               0.000000
ed_expenses                0.405074
ed_expenses_perkid         0.405074
ed_sch_missedpc            0.408574
ed_schoolattend            0.405074
ed_work_act_pc             0.499563
edu                        0.000000
ent_animalstockrev         0.000000
ent_business               0.000000
ent_employees              0.000000
ent_farmexpenses           0.000000
ent_farmrevenue            0.000000
ent_nonag_flowcost         0.000000
ent_nonag_revenue          0.000000
ent_nonagbusiness          0.000000
ent_ownfarm                0.000000
ent_total_cost             0.000000
ent_wagelabor              0.000000
femaleres                  0.000000
fs_adskipm_often           0.000000
fs_adwholed_often          0.000000
fs_chskipm_often           0.363955
fs_chwholed_often          0.363955
fs_enoughtom               0.292213
fs_meat                    0.292213
fs_sleephun                0.292213
given_mpesa                0.000000
hh_children                0.000000
hh_totalmembers            0.292213
hhsize                     0.000000
labor_primary              0.000000
married                    0.000000
med_afford_port            0.370079
med_child_check            0.000000
med_expenses_child_ep      0.524934
med_expenses_hh_ep         0.606299
med_expenses_sp_ep         0.768154
med_healthconsult          0.370079
med_port_sick_child        0.363955
med_portion_sickinjured    0.292213
med_sickdays_hhave         0.292213
med_u5_deaths              0.948381
med_vacc_newborns          0.000000
net_mpesa                  0.000000
nondurable_investment      0.000000
received_mpesa             0.000000
saved_mpesa                0.000000
survey_Day                 0.000000
survey_Dayofweek           0.000000
survey_Dayofyear           0.000000
survey_Elapsed             0.000000
survey_Is_month_end        0.000000
survey_Is_month_start      0.000000
survey_Is_quarter_end      0.000000
survey_Is_quarter_start    0.000000
survey_Is_year_end         0.000000
survey_Is_year_start       0.000000
survey_Month               0.000000
survey_Week                0.000000
survey_Year                0.000000
surveyid                   0.000000
village                    0.000000
wage_expenditures          0.000000
dtype: float64

In [14]:
df, y, nas = proc_df(df_raw, 'depressed')

In [15]:
m = RandomForestClassifier(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.9833770778652668

In [16]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 287  # same as competition's test set size
n_trn = len(df)-n_valid
#raw_tain consists of the first n-12000 rows and raw_valid contains the last 12,000 rows for the validation set
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((856, 109), (856,), (287, 109))

In [17]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [18]:
m = RandomForestClassifier(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 49.1 ms, sys: 619 µs, total: 49.7 ms
Wall time: 115 ms
[0.15285446012893575, 0.3870733573524861, 0.9766355140186916, 0.8501742160278746]

In [19]:
m = RandomForestClassifier(n_estimators=40, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

[0.0, 0.3915483425193072, 1.0, 0.8466898954703833, 0.8165887850467289]

In [20]:
m = RandomForestClassifier(n_estimators=60, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

[0.0, 0.3870733573524861, 1.0, 0.8501742160278746, 0.8072429906542056]

In [21]:
m = RandomForestClassifier(n_estimators=70, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

[0.0, 0.3779644730092272, 1.0, 0.8571428571428571, 0.8095794392523364]

In [22]:
## importing test set

df_test = pd.read_csv(f'{PATH}test.csv', low_memory=False, parse_dates=["survey_date"])

In [23]:
add_datepart(df_test, 'survey_date')

In [24]:
train_cats(df_test)

In [25]:
df2, y, nas = proc_df(df_test, 'depressed')

In [26]:
m2 = RandomForestClassifier(n_estimators=70, n_jobs=-1, oob_score=True)
m2.fit(X_train, y_train)
print_score(m)

[0.0, 0.3779644730092272, 1.0, 0.8571428571428571, 0.8095794392523364]

In [27]:
test_predictions = m.predict(df2)

In [28]:
d = {'surveyid': df2["surveyid"], 'depressed': test_predictions}
df_predictions = pd.DataFrame(data=d)
df_predictions = df_predictions[['surveyid','depressed']]

In [29]:
df_predictions.head()

   surveyid  depressed
0       901          0
1       498          0
2       710          0
3       433          0
4        44          0

In [31]:
df_predictions.to_csv(f'{PATH}predictions_busara.csv', index=False) #save to csv file