# Give Me Credit
Determining if someone will be in financial destress in the next 2 years

In [36]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [37]:
PATH = '/media/muoki/data/documents/code_training/portfolio/DataScienceProjects/Give_me_Credit/'

## Loading data

In [38]:
df_raw = pd.read_csv(f'{PATH}train.csv', low_memory=False)

In [55]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [56]:
display_all(df_raw.tail().T)

,149995,149996,149997,149998,149999
Unnamed: 0,149996.000000,149997.000000,149998.000000,149999.0,150000.000000
SeriousDlqin2yrs,0.000000,0.000000,0.000000,0.0,0.000000
RevolvingUtilizationOfUnsecuredLines,0.040674,0.299745,0.246044,0.0,0.850283
age,74.000000,44.000000,58.000000,30.0,64.000000
NumberOfTime30-59DaysPastDueNotWorse,0.000000,0.000000,0.000000,0.0,0.000000
DebtRatio,0.225131,0.716562,3870.000000,0.0,0.249908
MonthlyIncome,2100.000000,5584.000000,NaN,5716.0,8158.000000
NumberOfOpenCreditLinesAndLoans,4.000000,4.000000,18.000000,4.0,8.000000
NumberOfTimes90DaysLate,0.000000,0.000000,0.000000,0.0,0.000000
NumberRealEstateLoansOrLines,1.000000,1.000000,1.000000,0.0,2.000000
NumberOfTime60-89DaysPastDueNotWorse,0.000000,0.000000,0.000000,0.0,0.000000
NumberOfDependents,0.000000,2.000000,0.000000,0.0,0.000000

In [53]:
df_raw.SeriousDlqin2yrs.unique()

array([1, 0])

Our dependant variable is SeriousDlqin2yrs

In [41]:
df_raw.isnull().sum().sort_index()

DebtRatio                                   0
MonthlyIncome                           29731
NumberOfDependents                       3924
NumberOfOpenCreditLinesAndLoans             0
NumberOfTime30-59DaysPastDueNotWorse        0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
RevolvingUtilizationOfUnsecuredLines        0
SeriousDlqin2yrs                            0
Unnamed: 0                                  0
age                                         0
dtype: int64

In [51]:
df_raw.head(2)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0

DebtRatio                               0
MonthlyIncome                           0
MonthlyIncome_na                        0
NumberOfDependents                      0
NumberOfDependents_na                   0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTime30-59DaysPastDueNotWorse    0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
RevolvingUtilizationOfUnsecuredLines    0
Unnamed: 0                              0
age                                     0
dtype: int64

We have taken care of the missing values.